.about-page {
    font-family: Arial, sans-serif;
    color: #000000;
    padding: 20px;
}

header h1 {
    text-align: center;
    color: #ffffff;
    animation: fadeIn 2s ease-in-out;
}

main {
    margin-top: 20px;
}

section {
    margin-bottom: 40px;
}

.gallery img {
    width: 100%;
    max-width: 300px;
    margin: 10px;
    border-radius: 10px;
    transition: transform 0.3s;
}

.gallery img:hover {
    transform: scale(1.1);
}

.testimonial {
    background-color: #4693db;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.continue-button {
    background-color: #65b6e6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.continue-button:hover {
    background-color: #419fca;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
